# Load Data and Check

In [1]:
import pandas as pd

# Load data
df = pd.read_csv('exercise_final_with_equipment2.csv')

# Tampilkan kolom-kolom yang ada
print("Kolom yang tersedia:")
print(df.columns.tolist())

# Tampilkan jumlah baris dan kolom
print(f"\nJumlah baris: {df.shape[0]}")
print(f"Jumlah kolom: {df.shape[1]}")

# Tampilkan jumlah data kosong di setiap kolom
print("\nJumlah data kosong (missing values) per kolom:")
print(df.isnull().sum())

Kolom yang tersedia:
['exercise_id', 'exercise_name', 'exercise_type', 'body_part', 'exercise_image', 'equipment']

Jumlah baris: 602
Jumlah kolom: 6

Jumlah data kosong (missing values) per kolom:
exercise_id       0
exercise_name     0
exercise_type     0
body_part         0
exercise_image    1
equipment         0
dtype: int64

# Unique Value Check

In [5]:
# Sajikan jumlah masing-masing nilai 'exercise_type' dalam tabel
type_counts = df['exercise_type'].value_counts().reset_index()
type_counts.columns = ['exercise_type', 'count']
print("Exercise Type")
display(type_counts)

# Sajikan jumlah masing-masing nilai 'body_part' dalam tabel
body_part_counts = df['body_part'].value_counts().reset_index()
body_part_counts.columns = ['body_part', 'count']
print("Body Part")
display(body_part_counts)

# Sajikan jumlah masing-masing nilai 'equipment' dalam tabel
equipment_counts = df['equipment'].value_counts().reset_index()
equipment_counts.columns = ['equipment', 'count']
print("Equipment")
display(equipment_counts)

Exercise Type

         exercise_type  count
0          weight_reps    402
1    db_2_simultaneous     93
2       db_1_alt_sides     37
3             duration     22
4      db_1_both_sides     17
5    distance_duration     10
6        db_2_alt_legs      9
7      full_bodyweight      6
8        db_1_alt_legs      3
9  bodyweight_assisted      3

Body Part

           body_part  count
0              chest     62
1             biceps     61
2               back     61
3            triceps     58
4                abs     58
5         quadriceps     54
6           forearms     50
7          shoulders     48
8               hips     38
9             calves     37
10              neck     36
11            cardio     18
12         hamstring     14
13  hips, quadriceps      5
14  biceps, forearms      2

Equipment

           equipment  count
0           dumbbell    157
1           weighted    126
2              cable    110
3            barbell     99
4            unknown     28
5      smith machine     28
6        body weight     22
7   leverage machine     21
8         kettlebell      5
9         ez barbell      2
10          trap bar      2
11      sled machine      2